#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#root div {
    width: 100%;
}

.columnContainer {
    width: 100%;
    display: flex;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
